* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 56px 950px 950px 560px;
      grid-template-rows: 56px 950px 950px 560px;
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

.section1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
}

.section1__paragraph {
  height: 288px;
  width: 924px;
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  margin-left: 8.4%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/ span 11;
}

.section1__date {
  height: 18px;
  width: 85px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8.4%;
}

.block__button {
  height: 45px;
  width: 134px;
  background-color: #DF542E;
  margin-left: 8.4%;
  padding: 0;
  border: none;
}

.block__button2 {
  height: 45px;
  width: 134px;
  background-color: #DF542E;
  padding: 0;
  border: none;
}

.section2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/ span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 6%;
}

.latest {
  height: 28px;
  width: 77px;
  color: #101010;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

.block__small, .block__big {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.block__rectangle, .block__rectangle--light, .block__rectangle--short {
  height: 1px;
  width: 100%;
  border: 1px solid #000000;
}

.block__rectangle--light {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 6%;
}

.block__rectangle--short {
  width: 450px;
}

.block__paragraph, .block__paragraph--big {
  height: 80px;
  width: 60%;
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
}

.block__date {
  display: inline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.block__dot {
  height: 2px;
  width: 2px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.block__big {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'column1 column2';
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.block__paragraph--big {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: column1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__img {
  height: 226px;
  width: 226px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: column2;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 8%;
}

.section3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 58%;
      grid-template-columns: 42% 58%;
  grid-area: 'column1 column2';
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3__column1 .section3__img--mailbox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: column1;
  margin: auto;
}

.section3__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.section3__title {
  height: 56px;
  width: 608px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 56px;
}

.section3__paragraph {
  height: 56px;
  width: 450px;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.section3__newsletterForm {
  display: block;
}

.form__emailBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 68px;
  width: 608px;
  border: 1px solid #DF542E;
  background-color: #000000;
  color: #FFFFFF;
  padding-left: 2%;
  margin-top: 4%;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 28px;
  width: 412px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 28px;
}

.form__button {
  margin-left: 4%;
  height: 68px;
  width: 292px;
  background-color: #DF542E;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
}

.form__checkBox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid #DF542E;
  border-radius: 2px;
  margin-top: 1.6%;
  margin-right: 1%;
  margin-left: 0%;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 56px 950px 950px 560px;
      grid-template-rows: 56px 950px 950px 560px;
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/span 10;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav, header .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .nav__menu {
  height: 25px;
  width: 529px;
  list-style: none;
  color: #0C0C0C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav__logo_2 {
  height: 37px;
  width: 207px;
  margin-top: 1%;
  -ms-grid-column: 2;
  grid-column: 2;
}

header .nav_button--send {
  -ms-grid-column: 11;
  grid-column: 11;
  height: 56px;
  width: 153px;
  border: 1px solid #111111;
  font-weight: 700;
  margin-left: 1%;
}

header .nav__search {
  height: 32px;
  width: 176px;
}

header .nav__rectangle {
  height: 56px;
  width: 1px;
  border: 1px solid #111111;
}

.table1 {
  height: 553px;
  width: 450px;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / span 3;
  margin-top: 23%;
}

.table1 .table1__header {
  height: 28px;
  width: 360px;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

.table1 .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table1 .table__row .table1__number {
  height: 16px;
  width: 24px;
  color: rgba(16, 16, 16, 0.5);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 16px;
}

.table1 .table__row .table__text {
  height: 64px;
  width: 378px;
  color: #101010;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 56px 950px 950px 560px;
      grid-template-rows: 56px 950px 950px 560px;
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/span 10;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav, header .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .nav__menu {
  height: 25px;
  width: 529px;
  list-style: none;
  color: #0C0C0C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav__logo_2 {
  height: 37px;
  width: 207px;
  margin-top: 1%;
  -ms-grid-column: 2;
  grid-column: 2;
}

header .nav_button--send {
  -ms-grid-column: 11;
  grid-column: 11;
  height: 56px;
  width: 153px;
  border: 1px solid #111111;
  font-weight: 700;
  margin-left: 1%;
}

header .nav__search {
  height: 32px;
  width: 176px;
}

header .nav__rectangle {
  height: 56px;
  width: 1px;
  border: 1px solid #111111;
}
/*# sourceMappingURL=index.css.map */