* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/span 10;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav, header .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .nav__menu {
  height: 25px;
  width: 529px;
  list-style: none;
  color: #0C0C0C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav__logo_2 {
  height: 37px;
  width: 207px;
  margin-top: 1%;
  -ms-grid-column: 2;
  grid-column: 2;
}

header .nav_button--send {
  -ms-grid-column: 11;
  grid-column: 11;
  height: 56px;
  width: 153px;
  border: 1px solid #111111;
  font-weight: 700;
  margin-left: 1%;
}

header .nav__search {
  height: 32px;
  width: 176px;
}

header .nav__rectangle {
  height: 56px;
  width: 1px;
  border: 1px solid #111111;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  font-family: "Inter", sans-serif;
  background-color: #F4F4F4;
  width: 1920px;
  height: 7371px;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/span 10;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav, header .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .nav__menu {
  height: 25px;
  width: 529px;
  list-style: none;
  color: #0C0C0C;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav__logo_2 {
  height: 37px;
  width: 207px;
  margin-top: 1%;
  -ms-grid-column: 2;
  grid-column: 2;
}

header .nav_button--send {
  -ms-grid-column: 11;
  grid-column: 11;
  height: 56px;
  width: 153px;
  border: 1px solid #111111;
  font-weight: 700;
  margin-left: 1%;
}

header .nav__search {
  height: 32px;
  width: 176px;
}

header .nav__rectangle {
  height: 56px;
  width: 1px;
  border: 1px solid #111111;
}
/*# sourceMappingURL=index.css.map */