@import "temps";

* {
  box-sizing: border-box;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font;
  background-color: $whiteBackground;
  width: 100%;
}

%grid-12col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

%grid-3col {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

%grid-2col {
  display: grid;
  grid-template-columns: 60% 55%;
  padding: 8%;
}
