@import "vars", "base";

// ***************************************  HERO SECTION  ***************************************

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  height: 12.88%;
}

.hero__paragraph {
  text-align: left;
  width: 53.13%;
  color: $whiteFont;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 8.4%;
}

.hero__date {
  height: 18px;
  width: 85px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 8.4%;
}

.block__button {
  @include block__button;
  margin-left: 8.4%;
}

.block__button2 {
  @include block__button;
}

// ***************************************  NEWS SECTION LAYOUT ***************************************

.news {
  @extend %grid-2col;
  padding-top: 9%;
  padding-bottom: 6%;
  @include center;
}

.block__container {
  grid-area: "col1";
}

.latest {
  color: $black;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

// ***************************************  NEWSLETTER SECTION LAYOUT ***************************************

.newsletter {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: 42% 58%;
  grid-area: "column1 column2";
  background-color: $blackBackground;
  align-items: center;
  justify-content: space-between;
}

.newsletter__column1 {
  display: flex;
  align-items: center;

  .newsletter__img--mailbox {
    grid-area: column1;
    margin: auto;
  }
}

.newsletter__column2 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.newsletter__title {
  height: 56px;
  width: 608px;
  color: $whiteFont;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 56px;
}

.newsletter__paragraph {
  height: 56px;
  width: 450px;
  color: $whiteFont;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.newsletter__newsletterForm {
  display: block;
}

// ***************************************  UPCOMING EVENTS SECTION LAYOUT ***************************************

.upcoming {
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 6%;
  @include center;
}

.starts {
  height: 16px;
  width: 160px;
  color: $primary;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 16px;
}

// ***************************************  SOCIAL MEDIA LAYOUT ***************************************

.social {
  grid-column: 1 / span 12;
}

// ***************************************  SECTION6 LAYOUT ***************************************

.resistance-training-section {
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 6%;
  @include center;
}

.see__more {
  height: 5%;
  width: 20.21%;
  color: #df542e;
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}
