@import "vars";

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin block__style {
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin block__button {
  height: 45px;
  width: 134px;
  background-color: $primary;
  padding: 0;
  border: none;
  color: $whiteBackground;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 18px;
}

// ***************************************  HERO SECTION  ***************************************

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  height: 12.88%;
}

.hero__paragraph {
  height: 288px;
  width: 924px;
  color: $whiteFont;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  margin-left: 8.4%;
  grid-column: 2 / span 11;
}

.hero__date {
  height: 18px;
  width: 85px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8.4%;
}

.block__button {
  @include block__button;
  margin-left: 8.4%;
}

.block__button2 {
  @include block__button;
}

// ***************************************  NEWS SECTION LAYOUT ***************************************

.news {
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 9%;
  padding-bottom: 6%;
  @include center;
}

.latest {
  color: $black;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

// ***************************************  BLOCK NO IMG  ***************************************

.block__small {
  grid-column: 2 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block__rectangle {
  height: 1px;
  width: 100%;
  border: 1px solid $blackBackground;
}

.block__rectangle--light {
  @extend .block__rectangle;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.block__rectangle--short {
  @extend .block__rectangle;
  width: 450px;
}

.block__paragraph {
  @include block__style;
  width: 64%;
}

.block__date {
  display: inline;
  justify-content: space-between;
  color: $blockBlack;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.block__dot {
  height: 2px;
  width: 2px;
  color: $blockBlack;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

// ***************************************  BLOCK WITH IMG  ***************************************

.block__big {
  @extend .block__small;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "column1 column2";
  align-items: space-between;
}

.block__paragraph--big {
  @include block__style;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__img {
  height: 226px;
  width: 226px;
  grid-area: column2;
  margin-left: auto;
  margin-bottom: auto;
}

// ***************************************  NEWSLETTER SECTION LAYOUT ***************************************

.newsletter {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: 42% 58%;
  grid-area: "column1 column2";
  background-color: $blackBackground;
  align-items: center;
  justify-content: space-between;
}

.newsletter__column1 {
  display: flex;
  align-items: center;

  .newsletter__img--mailbox {
    grid-area: column1;
    margin: auto;
  }
}

.newsletter__column2 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.newsletter__title {
  height: 56px;
  width: 608px;
  color: $whiteFont;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 56px;
}

.newsletter__paragraph {
  height: 56px;
  width: 450px;
  color: $whiteFont;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.newsletter__newsletterForm {
  display: block;
}

// ***************************************  UPCOMING EVENTS SECTION LAYOUT ***************************************

.upcoming {
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 6%;
  @include center;
}

.starts {
  height: 16px;
  width: 160px;
  color: $primary;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 16px;
}

// ***************************************  SOCIAL MEDIA LAYOUT ***************************************

.social {
  grid-column: 1 / span 12;
}

// ***************************************  SECTION6 LAYOUT ***************************************

.resistance-training-section {
  grid-column: 2 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 6%;
  @include center;
}

.see__more {
  height: 5%;
  width: 20.21%;
  color: #df542e;
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}
