@import "temps", "base";

// ***************************************  HERO SECTION  ***************************************

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  height: 12.88%;
}

.hero__paragraph {
  text-align: left;
  width: 53.13%;
  color: $whiteFont;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 8.4%;
}

.hero__date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 8.4%;
}

.block__button {
  @include block__button;
  margin-left: 8.4%;

  &:hover {
    @include hover;
  }
}

.block__button2 {
  @include block__button;

  &:hover {
    @include hover;
  }
}

// ***************************************  NEWS SECTION LAYOUT ***************************************

.news {
  @extend %grid-2col;
  @include center;
  padding-top: 9%;
  padding-bottom: 6%;
}

.block__container {
  grid-area: "col1";
}

.latest {
  @include font-props;
  color: $black;
  font-weight: 800;
}

// ***************************************  NEWSLETTER SECTION LAYOUT ***************************************

.newsletter {
  @extend %grid-3col;
  background-color: $blackBackground;
  align-items: center;
  justify-content: space-between;
  height: 7.59%;
}

.newsletter__column1 {
  display: flex;
  align-items: center;

  .newsletter__img--mailbox {
    @include center;
  }
}

.newsletter__column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.newsletter__column3 {
  @extend .newsletter__column2;
  align-items: center;
}

.newsletter__title {
  height: 6%;
  color: $whiteFont;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0;
}

.newsletter__paragraph {
  width: 80%;
  color: $whiteFont;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin-bottom: 8%;
}

// ***************************************  UPCOMING EVENTS SECTION LAYOUT ***************************************

.upcoming {
  @extend %grid-2col;
  @include center;
}

.starts {
  color: $primary;
  font-size: 1rem;
  font-weight: 800;
}

// ***************************************  SOCIAL MEDIA LAYOUT ***************************************

.social {
  @extend %grid-12col;
  width: 100%;
  height: 9.17%;
}

// ***************************************  SECTION6 LAYOUT ***************************************

.resistance-training-section {
  width: 55%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 7%;
  padding-bottom: 6%;
  padding-left: 8%;
}

.see__more {
  color: $primary;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 5%;
}
