footer {
  grid-column: 1 / span 12;
  background-color: $blackBackground;
}

.footer__container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 5fr;
  grid-template-rows: 3fr 67.5px 67.5px 67.5px;
  align-items: center;
  grid-column-gap: 0.5%;
  grid-row-gap: 10px;
  height: 100%;
}

.footer__menu {
  color: $whiteBackground;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 43px;
}

.footer__menu--title {
  height: 24px;
  width: 95px;
  color: $whiteBackground;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.35px;
  line-height: 50px;
}

.footer__menu--item {
  width: 5.63%;
  font-size: 14px;
  letter-spacing: 0.3;
  line-height: 60px;
  color: $whiteBackground;
}

.footer__logo {
  align-self: center;
  margin-left: 35%;
  margin-bottom: 33%;
}

.footer__nav {
  grid-column: 1 / span 5;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .footer__text {
    height: 24px;
    width: 177px;
    color: $whiteBackground;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin-left: 0.5%;
  }

  .footer__text--follow {
    @extend .footer__text;
    grid-column: 5;
    margin-right: 1.5%;
  }

  .footer__rectengle--long {
    box-sizing: border-box;
    height: 1px;
    width: 1920px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .footer__donate {
    height: 68px;
    width: 292px;
    background-color: #d8a42f;
    border: none;
    margin-right: 10%;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 36px;
  }

  .footer__social {
    width: 15%;
    text-align: right;
  }

  #facebook,
  #instagram,
  #youtube,
  #twitter {
    margin: 3%;
  }

  .footer__rectengle--small {
    box-sizing: border-box;
    height: 68px;
    width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.footer__leagal {
  grid-column: 1 /5;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  color: $whiteBackground;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
