@import '../vars';
@import '../base';


header {
  grid-column: 2/span 10;
  height: 0.76%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/assets/bitmap.png");

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-column: 4/span 4;
    height: 100%;
    width: 81.04%;

    ul {
      @extend nav;
      list-style: none;
      font-size: 16px;
      text-align: center;
      grid-column: 4/4;
    }
  }
  .logo_2 {
    width: 10.78%;
    height: 0.5%;
    grid-column: 2;
    order: -1;
    border: solid red 3px;
  }
  
  .btn__send-news {
    height: 56px;
    width: 153px;
    border: 1px solid #111111;
    font-weight: 700;    
  }
  
  .socialm {
    border: solid blue 3px;
    height: 56px;
  width: 153px;
  }

 }

 