@import '../vars';
@import '../base';


header {
  grid-column: 2/span 10;
  height: 56px;
  width: 1556px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("/assets/bitmap.png");

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      grid-column: 4/span 4;
      height: 100%;
      width: 81.04%;

      ul {
        list-style: none;
        grid-column: 4/4;
        width: 24px;
        width: 55px;
        color: #0C0C0C;
        font-family: $font;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 24px;
        text-align: right;
      }
    }
  
  .logo_2 {
    width: 10.78%;
    height: 0.5%;
    grid-column: 2;
    order: -1;
    border: solid red 3px;
  }
  
  .btn__send-news {
    height: 56px;
    width: 153px;
    border: 1px solid #111111;
    font-weight: 700;    
  }
  
  .socialm {
    border: solid blue 3px;
    height: 32px;
    width: 176px;
  }

 }

 