@import '../vars';
@import '../base';


header {
  grid-column: 2/span 10;
  height: 56px;
  width: 1556px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 81.04%;     
    }

  ul {
    @extend nav;
      height: 25px;
      width: 529px;
      list-style: none;
      grid-column: 2 / 4;
      color: $blackFont;
      font-family: $font;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;  
    }
  
  .logo_2 {
    height: 37px;
    width: 207px;
    margin-top: 1%;
    grid-column: 2;
    justify-content: flex-start;
  }
  
  .btn__send-news {
    grid-column: 11;
    height: 56px;
    width: 153px;
    border: 1px solid #111111;
    font-weight: 700;  
    margin-left:  1%;  
  }
  
  .socialm {
    height: 32px;
    width: 176px;
    margin-top: 0.7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .rectangle {
    height: 56px;
    width: 1px;
    border: 1px solid #111111;
  }

 }

 