@import '../vars';
@import '../base';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  grid-column: 4/span 3;
  height: 100%;
  width: 81.04%;


  ul {
    @extend nav;
    list-style: none;
    font-size: 16px;
  }

  .logo_2 {
    width: 200px;
  }
}