@import '../vars';
@import '../base';


header {
  grid-column: 2/span 10;
  height: 0.76%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-column: 4/span 3;
    height: 100%;
    width: 81.04%;

  ul {
    @extend nav;
    list-style: none;
    font-size: 16px;
  }
  
  li{
    text-align: center;
    grid-column: 4/4;
  }

  .logo_2 {
    width: 10.78%;
    height: 0.5%;
    grid-column: 2/3;
    order: -1;
    border: solid red 3px;
  }
 }
}