
.table1{
  height: 620px;
  width: 450px;
  grid-column: 9 / span 3;
  margin-top: 20%;

  .table1__header{
    height: 28px;
    width: 100%;
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .table__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    .table1__number{
      height: 12px;
      width: 24px;
      color: rgba(16,16,16,0.5);
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 16px;
    }
    .table__text{
      height: 64px;
      width: 378px;
      color: $black;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 32px;
    }
  }
}


.table2{
  width: 455px;
  height: 350px;
 

}

.table2__row{
  margin: 1%;
}

.table2__flag{
  height: 16px;
  width: 28px;
  background-color: #D8D8D8;
}

.table2__cell{
  display: flex;
  align-items: row;
  height: 100%;
  margin-top: 10%;
  
}

.table2__points{
  text-align: right;
}