
.table1{
  height: 620px;
  width: 450px;
  grid-column: 9 / span 3;
  margin-top: 23%;

  .table1__header{
    height: 28px;
    width: 360px;
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .table__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    .table1__number{
      height: 16px;
      width: 24px;
      color: rgba(16,16,16,0.5);
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 16px;
    }
    .table__text{
      height: 64px;
      width: 378px;
      color: $black;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 32px;
      margin-top: 5%;
    }
  }
}