
.table1{
  height: 620px;
  width: 450px;
  grid-column: 9 / span 3;
  margin-top: 20%;
  background-color: $whiteBackground;

  .table1__header{
    height: 28px;
    width: 100%;
    color: $blackBackground;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .table__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    .table1__number{
      height: 12px;
      width: 24px;
      color: rgba(16,16,16,0.5);
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 16px;
    }
    .table__text{
      height: 64px;
      width: 378px;
      color: $black;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 32px;
    }
  }
}

.table2__container{
  margin-top: 30%;
}

.table2__frame{
  width: 455px;
  height: 350px;
}

.table2__header{
  @extend .table1__header;
}

.table2__row{
  max-height: 3%;
  align-items: center;
}

.table2__flag{
  height: 16px;
  width: 28px;
  background-color: #D8D8D8;
}

.table2__cell{
  display: flex;
  align-items: row;
  height: 100%;
}

.table2__points{
  text-align: right;
}

.table2__rank{
  height: 16px;
  width: 66px;
  color: rgba(16,16,16,0.5);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 16px;
}

.table2__rank--right{
  @extend .table2__points;
  @extend .table2__rank;
}