// ***************************************  BLOCK NO IMG  ***************************************

.block__small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

.block__rectangle,
.block__rectangle--short {
  height: 1px;
  width: 100%;
  border: 1px solid $blackBackground;
}

.block__rectangle--light {
  @extend .block__rectangle;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.block__paragraph {
  @include block__style;
  width: 64%;
}

.block__date {
  display: inline;
  justify-content: space-between;
  color: $blockBlack;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.block__dot {
  height: 2px;
  width: 2px;
  color: $blockBlack;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

// ***************************************  BLOCK WITH IMG  ***************************************

.block__big {
  @extend .block__small;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "column1 column2";
  align-items: space-between;
  padding: 3%;
}

.block__paragraph--big {
  @include block__style;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__img {
  height: 226px;
  width: 226px;
  grid-area: column2;
  margin-left: auto;
  margin-bottom: auto;
}
