.form__emailBox {
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
  border: 0.1em solid $primary;
  background-color: $blackBackground;
  color: $whiteBackground;
}

.form__label {
  display: flex;
  flex-direction: row;
  width: 70%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 28px;
}

.form__button {
  height: 4rem;
  width: 14rem;
  background-color: $primary;
  border: none;
  color: $whiteFont;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  margin-top: 30%;
  margin-right: 20%;
}

.form__checkBox {
  appearance: none;
  box-sizing: border-box;
  height: 1.3rem;
  width: 1.3rem;
  border: 0.1em solid $primary;
  margin-top: 1.6%;
  margin-right: 1%;
  margin-left: 0%;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 2%;
}
