@import "../temps", "../base";

.nav__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto;
  width: 84.04%;
  font-weight: 800;

  .nav__logo_2 {
    height: 6rem;
    width: 10rem;
  }

  .nav__menu {
    @include font-props;
    display: flex;
    height: 0.34%;
    width: 37.55%;
    list-style: none;
    color: $blackFont;
    justify-content: space-between;
    margin: 1%;
  }

  .nav__menu > .nav__link {
    margin: 2%;
  }

  .nav__button {
    height: 3.6rem;
    width: 10rem;
    border: 0.01rem solid #111111;
    font-weight: 700;
    background-color: $whiteBackground;
    color: $blackFont;

    &:hover {
      @include hover;
    }
  }

  .nav__search {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 7%;
  }

  .nav__socialm {
    height: 0.43%;
    width: 9.17%;
    justify-content: center;
  }

  .nav__rectangle {
    border: 0.1% solid #111111;
  }
}

.nav__burger {
  width: 5rem;
  height: 5rem;
}

.nav__burger--active {
  display: none;
  position: fixed;
  cursor: pointer;
  width: 40%;
  height: 100vh;
  background-color: gray;
  border-radius: 10% 0 0 10%;
}
