@import "../vars", "../base", "../base";

.nav__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto;
  width: 84.04%;
  font-weight: 800;

  .nav__logo_2 {
    height: 6rem;
    width: 10rem;
  }

  .nav__menu {
    @include font-props;
    display: flex;
    height: 0.34%;
    width: 37.55%;
    list-style: none;
    color: $blackFont;
    justify-content: space-between;
  }

  .nav__button {
    height: 56px;
    width: 10%;
    border: 1px solid #111111;
    font-weight: 700;
    background-color: $whiteBackground;
    color: $blackFont;
  }

  .nav__search {
    height: 1rem;
    width: 1rem;
    margin-left: 7%;
  }

  .nav__socialm {
    height: 0.43%;
    width: 9.17%;
    justify-content: center;
  }

  .nav__rectangle {
    border: 0.1% solid #111111;
  }
}
