@import "../base";

.table1 {
  @include center;
  @include font-props;
  font-weight: 800;
  height: 17%;
  width: 47%;
  margin-top: 3.6%;
  background-color: $whiteBackground;

  .table1__header {
    height: 10%;
    width: 100%;
    color: $blackBackground;
    margin-bottom: 9.5%;
  }

  .table__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    .table1__number {
      height: 7%;
      width: 15%;
      color: rgba(16, 16, 16, 0.5);
      font-size: 0.85rem;
    }

    .table__text {
      height: 70%;
      width: 90%;
      color: $black;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

.table2__container {
  margin-top: 50%;
}

.table2__frame {
  width: 455px;
  height: 370px;
  margin-top: 10%;
}

.table2__header {
  @extend .table1__header;
  margin-bottom: 5%;
}

.table2__row {
  // max-height: 3%;
  align-items: center;
}

.table2__flag {
  height: 16px;
  width: 28px;
  background-color: #d8d8d8;
}

.table2__cell {
  display: flex;
  align-items: row;
  height: 100%;
}

.table2__points {
  text-align: right;
}

.table2__rank {
  color: rgba(16, 16, 16, 0.5);
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 10%;
}

.table2__rank--right {
  @extend .table2__points;
  @extend .table2__rank;
}
