@import 'vars';

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1.98% 12.88% 13.83% 7.59% 23.91% 9.17% 21.92% 8.68%;
  grid-gap: 0.33%;
  grid-column-gap:  0.33%;
  font-family: $font;
  background-color: $whiteBackground;
  width: 1920px;
  height: 7371px;
}

