@import 'vars';

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 56px 940px 940px 560px 1880px 676px 1880px 640px;
  grid-gap: 24px;
  font-family: $font;
  background-color: $whiteBackground;
  width: 1920px;
  height: 7371px;
}

