nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid red 3px;
  width: 81.04%;

  ul &nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .logo_2 {
    width: 200px;
  }
}