@import 'vars';


// ***************************************  SECTION1  ***************************************  


.section1{
  grid-column: 1/ span 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}

.block__button{
  height: 45px;
  width: 134px;
  background-color: $primary;
  margin-left: 8.4%;
  padding: 0;
  border: none;
}

.section1__paragraph{
  height: 288px;
  width: 924px;
  color: $whiteFont;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  margin-left: 8.4%;
  grid-column: 2/ span 11;
}

.section1__date{
  height: 18px;
  width: 85px;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8.4%;
}

// ***************************************  SECTION2  *************************************** 


.section2{
  grid-column: 2/ span 11;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.latest{
  height: 28px;
  width: 77px;
  color: $black;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

// ***************************************  BLOCK  *************************************** 

.block__rectangle{
  box-sizing: border-box;
  height: 1px;
  width: 924px;
  border: 1px solid #000000;
}

.block__rectangle--light{
  @extend .block__rectangle;
  border: 1px solid rgba(0,0,0,0.2); 
}

.block__paragraph{
  height: 80px;
  width: 608px;
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
}

.block__date{
  display: inline;
  color: $blockBlack;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.block__dot{
  height: 2px;
  width: 2px;
  color: $blockBlack;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
