@import 'vars';


// ***************************************  SECTION1  ***************************************  


.section1{
  grid-column: 1/ span 12;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  opacity: 0.8;
}

.section1__paragraph{
  height: 288px;
  width: 924px;
  color: $whiteFont;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  margin-left: 8.4%;
  grid-column: 2/ span 11;
}

.section1__date{
  height: 18px;
  width: 85px;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8.4%;
}

.block__button{
  height: 45px;
  width: 134px;
  background-color: $primary;
  margin-left: 8.4%;
  padding: 0;
  border: none;
}

.block__button2{
  height: 45px;
  width: 134px;
  background-color: $primary;
  padding: 0;
  border: none;
}

// ***************************************  SECTION2 LAYOUT *************************************** 

.section2{
  grid-column: 2/ span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 6%;
}

.latest{
  height: 28px;
  width: 77px;
  color: $black;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
}

// ***************************************  BLOCK NO IMG  *************************************** 

.block__small{
  grid-column: 2 / 6;
}

.block__rectangle{
  height: 1px;
  width: 100%;
  border: 1px solid $blackBackground;
}

.block__rectangle--light{
  @extend .block__rectangle;
  width: 100%;

  border: 1px solid rgba(0,0,0,0.2); 
  margin-top: 6%;
}

.block__rectangle--short{
  @extend .block__rectangle;
  width: 450px;
}

.block__paragraph{
  height: 80px;
  width: 60%;
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
}

.block__date{
  display: inline;
  justify-content: space-between;
  color: $blockBlack;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.block__dot{
  height: 2px;
  width: 2px;
  color: $blockBlack;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

// ***************************************  BLOCK WITH IMG  *************************************** 


.block__big{
  @extend .block__small;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: 'column1 column2';
  align-items: space-between;
}

.block__paragraph--big{
  @extend .block__paragraph;
  grid-area: column1;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__img{
  height: 226px;
  width: 226px;
  grid-area: column2;
  margin-left: auto; 
  margin-bottom: auto;
  margin-top: 8%;
}

// ***************************************  SECTION3 LAYOUT *************************************** 

.section3{
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: 42% 58%;
  grid-area: 'column1 column2';
  background-color: $blackBackground;
  align-items: center;
  justify-content: space-between;
}

.section3__column1{
  display: flex;
  align-items: center;

  .section3__img--mailbox{
    grid-area: column1;
    margin: auto;
  }
}

.section3__column2{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.section3__title{
  height: 56px;
  width: 608px;
  color: $whiteFont;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 56px;
}

.section3__paragraph{
  height: 56px;
  width: 450px;
  color: $whiteFont;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.section3__newsletterForm{
  display: block;
}

.form__emailBox{
  box-sizing: border-box;
  height: 68px;
  width: 608px;
  border: 1px solid #DF542E;
  background-color: $blackBackground;
  color: #FFFFFF;
  padding-left: 2%;
}

.form__label{
  display: flex;
  flex-direction: row;
  height: 28px;
  width: 412px;
  color:rgba(255,255,255,0.7);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: start;

  
}

.form__button{
  margin-left: 4%;
  height: 68px;
  width: 292px;
  background-color: $primary;
  border: none;
  color: $whiteFont;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
}

.form__checkBox{
  appearance: none;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid #DF542E;
  border-radius: 2px;
  margin-top: 0.7%;
  margin-right: 1%;
  margin-left: 0%;
}

.test{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}



