@import 'vars';


// ***************************************  FIRST BLOCK  ***************************************  


.section1{
  grid-column: 1/ span 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}

.section1__button{
  height: 45px;
  width: 134px;
  background-color: $primary;
  margin-left: 8.4%;
  padding: 0;
  border: none;
}

.section1__paragraf{
  height: 288px;
  width: 924px;
  color: $whiteFont;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  margin-left: 8.4%;
  grid-column: 2/5;
}

.section1__date{
  height: 18px;
  width: 85px;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 8.4%;
}

// ***************************************  SECOND BLOCK  *************************************** 


.section2{
  grid-column: 1/  12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

