@import 'vars';

.content1{
  grid-column: 1/12;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 950px;
  width: 1920px;
  opacity: 0.8;
}

.content1__button{
  grid-column: 2/12;
  height: 44px;
  width: 134px;
  background-color: $primary;
}

.content1__paragraf{
  grid-column: 2/12;
  height: 288px;
  width: 924px;
  color: $whiteFont;
  font-family: Inter;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
}

.content1__date{

  height: 18px;
  width: 85px;
  color: rgba(255,255,255,0.7);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
